<!DOCTYPE html>
<html>
	<head>
		<title>Assignment 3</title>
		<!-- CDN links-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<script type="text/javascript" src="patient.js"></script>
		<link rel="stylesheet" type="text/css" href="/patient.css">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		<div id="container">
			<div id="nav">
				<span class="width">
					<div>
						<h1>Welcome patient</h1>
					</div>
					<div id="logout" class="nav-item">
						<a href="/logout">Logout</a>
					</div>
				</span>
			</div>
			<div class="content">
				<div id="videos">
				</div>
				<div id="data">
					<h2>Your recent Test Sessions</h2>
					<div id="patientData">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
